<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Google.ClientId" value="" />
		<add key="Google.ClientSecret" value="" />
		<add key="Google.ApiKey" value="" />
		<add key="Google.RedirectUris" value="http://www.technosushi.com/contactpusher/auth/callback" />
		<add key="Google.ContactScope" value="https://www.google.com/m8/feeds https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email" />
		<add key="Google.GetContactUri" value="https://www.google.com/m8/feeds/contacts/default/full/{0}" />
	</appSettings>
	<connectionStrings>
		<add name="Primary" connectionString="MultipleActiveResultSets=true;Data Source=localhost;Initial Catalog=ContactPusher;Persist Security Info=True;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<customErrors mode="Off">
			<error statusCode="404" redirect="~/Content/404.html" />
			<error statusCode="500" redirect="~/Content/500.html" />
		</customErrors>
		<compilation debug="true" targetFramework="4.0" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="NHibernateModule" type="ContactPusher.Web.UI.App_Code.NHibernateModule, ContactPusher.Web.UI" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="bundles/*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="asyncLog" type="AsyncWrapper">
				<target name="logfile1" type="File" fileName="C:/Logs/ContactPusher/${date:format=yyyy-MM-dd}-web.log" layout="[${longdate}] - ${message}" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="asyncLog" />
		</rules>
	</nlog>
	<elmah>
		<security allowRemoteAccess="true" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>
	<location path="elmah.axd" inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
		</system.webServer>
	</location>
</configuration>