@model ContactPusher.Web.UI.Models.ContactImportSuccessModel

@{
	Layout = "~/Views/Shared/_ModalLayout.cshtml";
	ViewBag.Title = "Picker";
}

<h3 class="text-center">@Model.Contact.Name's information has been imported!<br /></h3>