@model ContactPusher.Web.UI.Models.ContactRetrieveModel

@{
	ViewBag.Title = "Oops!";
}

<h2 class="text-error">This link is dead.</h2>
<p>The user who gave you this link either revoked access from ContactPusher or they deleted their shared contact. Basically, blame them, not us!</p>