<div class="jumbotron">
	<h1>No love?</h1>
	<p class="lead">If you don't authorize ContactPusher, we can't make your life better.</p>
	<a class="btn btn-large btn-success" href="@Url.Action("Request", "Auth", new { state = Request.QueryString["state"] })">Ok, Fine!</a>
</div>